*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.wrapper{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2rem 2rem 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #444;
    font-size: 2rem;
}

h2{
    color: rgb(109, 153, 255);
    font-size: 1.5rem;
}

#choices{
    display: flex;
    gap: 0.6rem;
}

#choices button {
    padding: 0.5rem 1.2rem;
    background:#c6e5ff;
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#choices button:hover {
    background: #b8deff;
}

#choices button:active {
  transform: scale(0.8);
}

#player-choice, #computer-choice {
    font-size: 1.2rem;
    font-weight: 400;
}

#result {
    font-size: 2.2rem;
    font-weight: 500;
    border: 3px solid #c6e5ff;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}

.win {
  color: green;
  border-color: green;
}

.lose {
  color: red;
  border-color: red;
}

.draw {
  color: orange;
  border-color: orange;
}